#myOrdersHeading {
  text-align: center;
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(15, 23, 42, 1);
}

.myOrdersTable {
  background-color: #fff;
}

.myOrdersTable div {
  color: rgba(0, 0, 0, 0.678);
  border: none;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: #0d77fd;
}

.MuiDataGrid-columnHeader {
  background-color: rgb(15, 23, 42, 1);
  padding: 1vmax !important;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: rgba(255, 255, 255, 0.205) !important;
  color: "#fff";
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
}
.MuiDataGrid-menuIconButton {
  color: #fff !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    padding: 4vw;
  }

  .myOrdersTable div {
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
  }
}
