.innerMenu {
  padding: 10px 10px;
  margin-bottom: 5px;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.innerMenu:hover {
  background-color: #f6f7fb;
  color: #0d6efd;
  transition: all 0.2s ease;
}

.innerMenu.active {
  background-color: #f6f7fb;
  color: #0d6efd;
  transition: all 0.2s ease;
}
