@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
li,
ul {
  padding: 0;
  margin: 0;
}
/** Color pic on order product */

.color_rounded {
  width: 15px;
  height: 15px;
  background-color: transparent;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 5px;
  border: 1px solid transparent;
  transition: all 0.4s ease-out;
  outline: none;
}
.color_rounded_big {
  width: 12px;
  height: 12px;
  background-color: transparent;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 5px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.4s ease-out;
}

.color_rounded::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}
.color_rounded_big::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}

.color_roundedFilter {
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: all 0.4s ease-out;
}

.color_roundedFilter::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}

/* Image Change Hover  */

.image_wrapper {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.onHover {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  width: 70%;
  height: 300px;
  /* height: 300px; */
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
  /* border: 1px solid red; */
}
.cardWrapper:hover .onHover {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
  width: 100%;
  height: 300px;
}
.beforeHover {
  height: 300px;
}
.cardWrapper:hover .beforeHover {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.productCardWrapper {
  position: absolute;
  bottom: -30%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 90%;
  transition: all 0.2s ease-in;
}

.cardWrapper:hover .productCardWrapper {
  bottom: 3%;
  transition: all 0.2s ease-out;
  opacity: 1;
}

/* Header animation */
.HeaderBox {
  background-color: #f9f3f0;
  padding-bottom: 10px;
  padding-top: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 60;
}

.goUp {
  transform: translate(100px);
}

/* Some media query for nev two  */
.searchIcon {
  display: none;
}
@media (max-width: 1152px) {
  .searForm {
    display: none;
  }
  .searchIcon {
    display: block;
  }
}

/* size Button */

.sizeButton {
  border: 2px solid #f6f7fb;
  background: #fff;
  padding: 5px 13px;
  border-radius: 30px;
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #777777;
  font-weight: 600;
}

/* sorted Box */
select {
  appearance: none;
  padding: 0 30px;
  height: 55px;
  transition: 0.5s;
  cursor: pointer;
}
.sortedBox {
  color: #27272e;
  width: auto;
  margin: 10px;
  padding-right: 43px;
  background: url(./assets/arrow-icon2.png) 85% center no-repeat
    rgba(0, 0, 0, 0);
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #cbd3d9;
  outline: transparent;
  border-radius: 6px;
  font-weight: 500;
}

/*  Mobile filter Menu sidebar */
.filter-sidebar-container {
  display: flex;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
}
.sidebar {
  background: #fff;
  color: white;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}
/*  Mobile Responsive Menu sidebar */
.sidebar-container {
  display: flex;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
}
.sidebar {
  background: #fff;
  color: white;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

/* header Menu */

.headerMenu {
  margin: 0 20px;
  position: relative;
  color: #292930;
  transition: all 0.3s ease-in;
}
.headerMenu::after {
  content: "";
  position: absolute;
  background-color: #292930;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  transition: all 0.3s ease-in;
}
.headerMenu.active::after {
  width: 100%;
}

.headerMenu:hover:after {
  transition: all 0.3s ease-in;
  width: 100%;
}

/* drop Down Extra Info */
.dropDownExtraInfo {
  position: absolute;
  top: 38px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
  width: 120px;
  padding: 10px;
  border-radius: 6px;
  z-index: 99;
}
.dropDownExtraInfo > ul > li {
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s linear;
}
.dropDownExtraInfo > ul > li:hover {
  background-color: #ff497c;
  border-radius: 6px;
  color: #fff;
  transition: all 0.3s ease-out;
}

/* Sticky Header  */

/* .sticky */

/* header responsive moment */
.listWrapperMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1016px) {
  .listWrapperMenu {
    display: none;
  }
}

/* on Active Icon Look Header Icons */
.onActiveIconLook {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in;
}
.onActiveIconLook:hover > i {
  color: #fff !important;
  transition: all 0.2s ease-in;
}

.onActiveIconLook::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #ff497c;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50px;
  z-index: -1;
  transition: all 0.2s ease-in;
}
.onActiveIconLook:hover::after {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s ease-in;
}

.onViewIcon {
  color: #80808d;
  font-size: 23px;
  transition: all 0.6s ease-in;
}
.onActiveIconLook:hover .onViewIcon {
  color: #fff;
  transition: all 0.5s ease-in;
}
.onActiveIconLook.active::after {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease-in;
}

/* navbar  */

.navbarTwo {
  background-color: transparent;
  transition: all 0.5s ease-in;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: 1px solid rgb(241 245 249/1);
}

.navbar {
  background-color: transparent;
  transition: all 0.5s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid transparent;
}
.navbar.onHiddenMoment {
  top: -100px;
}
.navbar.active {
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease-in;
  background-color: #fff;
  border-bottom: 1px solid rgb(241 245 249/1);
}

/* my Account */
.myAccount {
  background-image: url("./assets/accessories-page-title.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* MuiSlider track */
.MuiSlider-track {
  background-color: #abe2fb !important;
  border: none !important;
}
.MuiSlider-rail {
  background-color: #e9e9e9 !important;
  border: none !important;
}
.MuiSlider-thumb {
  background-color: #fff !important;
}
.MuiSlider-thumb::before {
  background-color: #fff !important;
  width: 15px !important;
  height: 15px !important;
  border: 4px solid #abe2fb !important;
}
.MuiSlider-thumb::after {
  /* width: 10px !important; */
  /* background-color: #abe2fb !important; */
}
